<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>The Bochurim Hub</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    
  </head>
  <body>
    <nav class="flex-container">
      <ul class="list-flex-container header-links">
        <li><a href="/" class="nav-links">Home</a></li>
        <li><a href="/newpost" class="nav-links">New Post</a></li>
      </ul>
    </nav>
  </body>
</html>
